{% extends 'AlgernonLeitnerBundle::layout.html.twig' %}

{% block content %}
<div id="session">
Session {{session}}
</div>
Questions remaining <span id="remaining"></span>.
Never asked <span id="pool"></span>.
<div id="question">
</div>
<div id="showanswer">
Show answer
</div>
<div id="answer">
</div>
<div id="right">
Right?
</div>
<div id="wrong">
Wrong?
</div>
<dif id="feed">
Insert 10 more questions in the pool
</div>
<dif id="endSession">
    <a href="{{ path('endSession') }}">Home</a>
</div>
<dif id="stats">
</div>

<script>
window.addEvent('domready', function(){
    new Asker({
        questions:[
            {% for card in cards %}
                { question: '{{card.question}}',
                  answer:   '{{card.answer}}',
                  level:    {{card.level}},
                  id:       {{card.id}}
                },
            {% endfor %}
        ],
        urlUpgrade: "{{path('_upgrade')}}"
    })
});
</script>
{% endblock %}
