{% extends 'AlgernonLeitnerBundle::layout.html.twig' %}

{% block content %}
<div id="session">
Session: <span id="sessionnumber">{{session}}</span>
</div>
<div id="status">
Questions remaining: <span id="remaining"></span><br/>
Never asked: <span id="pool"></span>
</div>
<div id="feed">
Insert 10 more questions in the pool
</div>
<div id="question">
</div>
<div id="showanswer">
Show answer
</div>
<div id="answer">
</div>
<div id="result">
    <span id="right">
    Right?
    </span>
    <span id="wrong">
    Wrong?
    </span>
</div>
<div id="endSession">
    <a href="{{ path('endSession') }}">End session</a>
</div>
<dif id="stats">
</div>

<script>
window.addEvent('domready', function(){
    new Asker({
        questions:[
            {% for card in cards %}
                { question: '{{card.question}}',
                  answer:   '{{card.answer}}',
                  level:    {{card.level}},
                  id:       {{card.id}}
                },
            {% endfor %}
        ],
        urlUpgrade: "{{path('_upgrade')}}"
    })
});
</script>
{% endblock %}
